<%- include('layout/header', {title: title}); %> 
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <!--Block-->
                    <%- include('layout/sidebar') %> 
                </div>
                <div class="col-sm-10">
                    <!-- Block content-->
                </div>
            </div>
        </div>
    </body>

<%- include('layout/footer'); %> 